<%- include("partials/form-header") %>
<meta name="viewport" content="width=device-width, initial-scale=1">

  <div class="form-container mt-5">
    <div class="card px-4 py-5">
      <h2 class="mb-4 ai2-header">Meal Recommender 🥙</h2>
      <form class = "form-group" action = "/tr1" method = "POST">
          <div class="checkbox-group">
              <label>Choose your meal type:</label>
              <input type="checkbox" id="breakfast-checkbox" name="meal" value="breakfast" onclick="return handleCustomCheckboxChange(this)">
              <label for="breakfast-checkbox"> Breakfast</label>
              <input type="checkbox" id="lunch-checkbox" name="meal" value="lunch" onclick="return handleCustomCheckboxChange(this)">
              <label for="lunch-checkbox"> Lunch</label>
              <input type="checkbox" id="dinner-checkbox" name="meal" value="dinner" onclick="return handleCustomCheckboxChange(this)">
              <label for="dinner-checkbox"> Dinner</label>
              <input type="checkbox" id="smoothie-checkbox" name="meal" value="smoothie" onclick="return handleCustomCheckboxChange(this)">
              <label for="smoothie-checkbox"> Smoothies</label>
              <input type="checkbox" id="snack-checkbox" name="meal" value="snack" onclick="return handleCustomCheckboxChange(this)">
              <label for="snack-checkbox"> Snacks</label>
              <div id="meal-error" class="error-message"></div>
          </div>
          <div class="checkbox-group">
            <label>Meal taste:</label>
            <input type="checkbox" id="savoury" name="type" value="savoury" onclick="return handleCustomCheckboxChange(this)">
            <label for="savoury">Savoury</label>
            <input type="checkbox" id="sweet" name="type" value="sweet" onclick="return handleCustomCheckboxChange(this)">
            <label for="sweet">Sweet</label>
            <div id="meal-error" class="error-message"></div>
        </div>

        <div class="checkbox-group">
          <label>Enter diet preference:<sup class="optional">*optional</sup></label>
          <small style="color:#a3a3a3; ">Following a specific diet? Let us know below!</small>

          <select style="margin-top:5%;"id="diet" name = "diet">
              <option value="" selected disabled>Select an option</option>
              <option value="">No Diet Preference</option>

              <option value="gluten-free">Gluten-Free</option>
              <option value="paleo">Paleo</option>
              <option value="keto">Keto</option>
              <option value="Whole30">Whole30</option>
          </select>
      </div>

        <div class="checkbox-group">
          <label>Enter calorie requirements:<sup class="optional">*optional</sup></label>
          <small style="color:#a3a3a3; ">Calculates calories based on your unique body and goals if left optional</small>

          <select style="margin-top:5%;"id="calories" name = "selection">
              <option value="" selected disabled>Select an option</option>
              <option value="< 300">&lt; 300</option>
              <option value="300-550">300-550</option>
              <option value="> 600">&gt; 600</option>
          </select>
        </div>

        
          
          <!-- <div class="checkbox-group">
              <label>Macros preference (in grams)<sup class="optional">*optional</sup></label>
              <div class="macro-inputs">
                  <label for="proteins">Proteins:</label>
                  <input type="number" id="proteins" name="proteins" placeholder="0" min="0">
                  <span>g</span>
              </div>
              <div class="macro-inputs">
                  <label for="carbs">Carbs:</label>
                  <input type="number" id="carbs" name="carbs" placeholder="0" min="0">
                  <span>g</span>
              </div>
              <div class="macro-inputs">
                  <label for="fats">Fats:</label>
                  <input type="number" id="fats" name="fats" placeholder="0" min="0">
                  <span>g</span>
              </div>
          </div> -->
          <button type="submit" class="btn btn-outline-success sub" onclick="return validateForm()">Submit</button>
      </form>
    </div>
  </div>
<%- include("partials/footer"); -%>

