<%- include("partials/form-header") %>

  <div class="form-container mt-5">
    <div class="card px-4 py-5">
      <h2 class="mb-4 ai2-header" style="text-align: left;">Ingredient Wizard 🥗</h2>
      <p style="color:#a3a3a3;">Make most of the ingredients available to you!</p>
      <form id="question-form" action="/transition" method="POST"> 
        <!-- Other form elements go here -->
          <div class="checkbox-group">
            <label>Choose your meal:</label>
            <input type="checkbox" id="breakfast-checkbox" name="meal" value="breakfast" onclick="return handleCustomCheckboxChange(this)">
            <label for="breakfast-checkbox">Breakfast</label>
            <input type="checkbox" id="lunch-checkbox" name="meal" value="lunch" onclick="return handleCustomCheckboxChange(this)">
            <label for="lunch-checkbox">Lunch</label>
            <input type="checkbox" id="dinner-checkbox" name="meal" value="dinner" onclick="return handleCustomCheckboxChange(this)">
            <label for="dinner-checkbox">Dinner</label>
            <input type="checkbox" id="snack-checkbox" name="meal" value="snack" onclick="return handleCustomCheckboxChange(this)">
            <label for="snack-checkbox">Snack</label>
            <div id="meal-error" class="error-message"></div>
          </div>
          <div class="checkbox-group">
              <label>Add Ingredients:</label>
              <small style="color:#a3a3a3">Input at least 2 ingredients for the best results!</small>
              <ul class="list"></ul>
              <input type="text" id="list" placeholder="Enter an item">
              <button type="button" class="btn btn-success" onclick="addItem()">Add</button>
              <div id="ingredient-error" class="error-message"></div>
          </div>
          <div class="checkbox-group">
              <label>Enter calorie requirements:<sup class="optional">*optional</sup></label>
              <small style="color:#a3a3a3; ">Calculates calories based on your unique body and goals if left optional</small>

              <select style="margin-top:5%;"id="calories" name = "selection">
                  <option value="" selected disabled>Select an option</option>
                  <option value="< 300">&lt; 300</option>
                  <option value="300-550">300-550</option>
                  <option value="> 600">&gt; 600</option>
              </select>
          </div>
          <div class="checkbox-group">
            <input type="hidden" id="list-data" name="listData" value="">
        </div>
          <button type="submit" class="btn btn-outline-success sub" onclick="return validateForm()">Submit</button>
      </form>
    </div>
  </div>
<%- include("partials/footer"); -%>
