<%- include("partials/header"); -%>
<body class="sign-body">
<section id="signup">
  <div class="signup-container">
    <form class="multi-step-form"  action="/login" method="POST">

      <div class="card active">
        <h3 class="step-title">Log Into Your Account!</h3>
        <div class="form-group">

            <label for="email">Email:</label>
            <input type="email" id="email" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <small style="color: red;"><%= error %></small>
            <button class="btn btnn btn-outline-secondary" type="submit">Login</button>
            
        </div>
        <hr>
            <div class="card-body" style="text-align: center;">
              <a class="btn btn-block button-link" href="/auth/google" role="button">
                <small><img style="height: 15px;"src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1200px-Google_%22G%22_Logo.svg.png"></small>
                Continue with Google
              </a>
            </div>
        <div class="form-group">
          <p style="text-align: center;">New to SaporAI?<a style="text-align: center; text-decoration: none;"href="/signup"> Sign Up</a> </p>
          
        </div>
        
        
      </div>
    </form>
    
  </div>
</section>




<%- include("partials/footer"); -%>
