<%- include("partials/header") %>
<body class="sign-body">
  <section id="signup">
    <div class="signup-container">
      <form data-multi-step class="multi-step-form" action="/signup" method="POST">
        <div class="card active"data-step>
          <small class="small-form-text">STEP <strong>1</strong> of 3</small>
          <h3 class="step-title">Create Account</h3>
          <p class="p-form-text">Let's get your account set up!</p>
          <div class="form-group">
            
            <label for="email">Email</label>
            <input type="email" name="username" id ="email" required>
            
            <label for="password">Password</label>
            <input type="password" name="password" id ="password" required>
            <p id="passwordLengthError" style="color: red; display: none;">Password should be 8 characters long.</p>

            
            <label for="re-password">Re-Enter Password</label>
            <input type="password" name="re-password" id ="re-password" required>
            <p id="passwordMatchError" style="color: red; display: none;">Passwords do not match.</p>
      
            <button id="nextid" class="btn btnn btn-outline-secondary btn-login"type="submit" data-next>Next</button>
            <hr>
            <div class="card-body" style="text-align: center;">
              <a class="btn btnn btn-block button-link google-text" href="/auth/google" role="button">
                <small><img id="google-img"src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1200px-Google_%22G%22_Logo.svg.png"></small>
                Continue with Google
              </a>
            </div>
          </div>
        </div>
        
      </form>
      </div>
  </section>

<%- include("partials/footer"); -%>

