
<%- include("partials/user-header") %>
  <h1 style="text-align: center;">Hi, <%= userName %></h1>
  <div class="container">
    <h3 style="text-align: center;">AI Buttons</h3>
    <a href="/form-ai1" class="button">AI 1</a>
    <a href="/form-ai2" class="button ai2">AI 2</a>
  </div>
</body>
</html>
