body {
    margin: 0;
    padding: 0;
    background-color: #f3f6fd;
  }
  .form-container {
    max-width: 600px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }


  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 18px;
    color: #333;
  }

  .checkbox-group {
    margin-bottom: 20px;
  }

  .navbar {
    background-color: #fff;
    border-bottom: 1px solid #e9ecef;
    padding: 0.5% 1.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Style the logo in the navigation bar */
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  /* Style the active link in the navigation bar */
  .nav-item.active .nav-link {
    color: #007bff;
  }
  
  #navbarNav {
    display: flex;
    justify-content: right;
    }
  .checkbox-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 15px;
  }

  .checkbox-group input[type="checkbox"] {
    display: none;
  }

  .checkbox-group input[type="checkbox"] + label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border: 2px solid #ccc;
    border-radius: 4px;
    vertical-align: middle;
    background-color: #fff;
  }
  .ai2-header {
    color:#038007;
  }
  .checkbox-group input[type="checkbox"]:checked + label:before {
    background-color: #038007;
  }

  .number-input {
    margin-top: 4px;
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    background-color: #fff;
  }

  .custom-input {
    display: none;
  }

  .sub {
    min-width: 35%;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .list {
      list-style-type: none;
      padding: 0;
      margin-top: 10px;
  }

  .list li {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
  }

  .list li span {
      margin-right: 10px;
      font-size: 15px;
  }

  .list li button {
      background: transparent;
      border: none;
      color: red;
      cursor: pointer;
      font-size: 15px;
  }

  .optional {
      font-size: 0.8em;
      color: #a3a3a3;
      vertical-align: super;
      margin-left: 0.2em;
  }

  input[type="text"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom: 20px;
  }

  select {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 15px;
      margin-top: 5px;
  }

  .error-message {
      color: red;
      font-size: 14px;
  }
  /* footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

footer p {
    font-size: 16px;
    margin-bottom: 0;
    padding: 10px 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
